{% extends 'base.html.twig' %}

{% block title %}Home | {{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
    <header>
        <section class="header">
            <h1>Title of last article</h1>
            <a href="#" class="button">Link to article </a>
        </section>
    </header>
    <main>
        <h2>Blog</h2>
        <section class="grid">
            {% for article in articles %}
                <section>
                    <img src="https://source.unsplash.com/random/1600x1000" alt="">
                    <div class="resume-article">
                        <div class="heading">
                            <h3>{{ article.title }}</h3>
                            <span class="info">{{ article.date|format_datetime('long', 'none', locale='fr') }}</span>
                            <span class="info">10 commentaires</span>
                        </div>
                        <p>{{ article.content }}</p>
                    </div>
                </section>
            {% endfor %}
        </section>
    </main>
    <footer>
        <p>Copyright © 2021. All Rights Reserved</p>
        <p>Created by <span>Alex Robert</span></p>
    </footer>
{% endblock %}
