{% extends 'base.html.twig' %}

{% block title %}{{ article.title }} | {{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/article.css') }}">
{% endblock %}

{% block body %}
    <header>
        <img src="https://source.unsplash.com/random/1600x1000" alt="">
        <section class="header">
            <h1>{{ article.title }}</h1>
        </section>
    </header>
    <main>
        <div class="heading-article">
            <span class="info">{{ article.date|format_datetime('long', 'none', locale='fr') }}</span>
            <span class="info">10 commentaires</span>
        </div>
        <article>
            <p>{{ article.content }}</p>
        </article>
        <section class="comments-form">
            <h3>Commentaires postés</h3>
            {{ form_start(form) }}
                <div>
                    {{ form_widget(form.comment, { 'attr': { 'placeholder': 'Commentaire', 'rows': '1' } }) }}
                </div>
                <div>
                    {{ form_widget(form.name, { 'attr': { 'placeholder': 'Nom' } }) }}
                </div>
                <div>
                    {{ form_widget(form.email, { 'attr': { 'placeholder': 'Email (facultatif)' } }) }}
                </div>
                {{ form_widget(form.createdAt, { 'attr': { 'class': 'hidden' } }) }}
                {{ form_widget(form.article, {value: id, 'attr': { 'class': 'hidden' }}) }}
                <input type="submit" class="button" value="Envoyer">
            {{ form_end(form) }}
        </section>
        <section class="comments">
            {% for comment in comments %}
            <section class="comment">
                <aside>
                    <img src="https://source.unsplash.com/random/200x100" alt="">
                </aside>
                <section>
                    <p class="date">10/12/2002</p>
                    <p class="name">{{ comment.name }}</p>
                    <p class="content">{{ comment.comment }}</p>
                </section>
            </section>
            {% endfor %}
        </section>
    </main>
    {{ parent() }}
{% endblock %}
