{% extends 'base.html.twig' %}

{% block title %}{{ article.title }} | {{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/article.css') }}">
{% endblock %}

{% block body %}
    <header>
        <img src="https://source.unsplash.com/random/1600x1000" alt="">
        <section class="header">
            <h1>{{ article.title }}</h1>
        </section>
    </header>
    <main>
        <div class="heading-article">
            <span class="info">{{ article.date|format_datetime('long', 'none', locale='fr') }}</span>
            <span class="info">10 commentaires</span>
        </div>
        <article>
            <p>{{ article.content }}</p>
        </article>
        <section class="comments">
            {{ form_start(form) }}
                {{ form_row(form.comment) }}
                {{ form_row(form.name) }}
                {{ form_row(form.email) }}
                {{ form_row(form.createdAt) }}
                {{ form_row(form.article) }}
                <input type="submit" value="Envoyer">
            {{ form_end(form) }}
        </section>
    </main>
    {{ parent() }}
{% endblock %}
